{
  'presets': [[
    'env',
    {
      'targets': {
        'browsers': [ "last 2 versions", "chrome >= 46" ]
      }
    }
  ]],
  "plugins": [
    "babel-plugin-syntax-jsx",
    "jsx-control-statements",
    "transform-react-jsx",
    "transform-object-rest-spread"
  ]
}
