{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [ "last 2 versions", "chrome >= 46" ]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "jsx-control-statements"
  ]
}
